export default{
  "OLLAMA_API_KEY": null, // set OLLAMA_API_KEY to empty string to use
  "OPEN_AI_API_KEY": null, // set other respective API keys to use
  "GEMINI_API_KEY": null,
  "ANTHROPIC_API_KEY": null,
  "MISTRAL_API_KEY": null,
  "GROQ_API_KEY": null
}