{
  "OLLAMA_API_KEY": "<remove if not used>",
  "OPEN_AI_API_KEY": "<remove if not used>",
  "GEMINI_API_KEY": "<remove if not used>",
  "ANTHROPIC_API_KEY": "<remove if not used>",
  "MISTRAL_API_KEY": "<remove if not used>"
}