  /**
   * The `default` export contains commented out API keys for various AI services.
   * These keys are placeholders and should be replaced with actual API keys
   * when configuring the application for accessing the corresponding services.
   * The services include OpenAI, Gemini, Anthropic, Mistral, Groq, Nvidia, and Ollama.
   */
   * This is a default configuration for the demo, it's not supposed to be used in production.
   * You should replace the values with your own API keys.
   *
   * The values are:
   * - OPEN_AI_API_KEY: API key for OpenAI
   * - GEMINI_API_KEY: API key for Google Gemini
   * - ANTHROPIC_API_KEY: API key for Anthropic
   * - MISTRAL_API_KEY: API key for Mistral
   * - GROQ_API_KEY: API key for Groq
   * - NVIDIA_API_KEY: API key for NVIDIA
   * - OLLAMA_API_KEY: API key for Ollama
   */
export default{
  "OPEN_AI_API_KEY": null,
  "GEMINI_API_KEY": null,
  "ANTHROPIC_API_KEY": null,
  "MISTRAL_API_KEY": null,
  NVIDIA_API_KEY: null,
  "GROQ_API_KEY": null
  "OLLAMA_API_KEY": null, // set OLLAMA_API_KEY to empty string, "", to use
}